/* Apply only on mobile (max-width: 768px) */
@media (max-width: 768px) {
  .responsive-card {
    height: 400px;
    overflow: hidden;
  }

  .responsive-card .carousel-inner img,
  .responsive-card .carousel-inner video {
    max-height: 200px;
    object-fit: cover;
  }

  .responsive-card .card-body {
    max-height: 150px;
    overflow-y: auto;
  }
}

/* api key for music data fetch: 
c6b1ae4326msh32419369928c436p13b71djsn3890b14be4c4 */
@media (max-width: 576px) {
  .song-title {
    font-size: 0.8rem !important;
  }
  .song-artist {
    font-size: 0.7rem !important;
  }
}
