/* Apply only on mobile (max-width: 768px) */
@media (max-width: 768px) {
  .responsive-card {
    height: 400px;
    overflow: hidden;
  }

  .responsive-card .carousel-inner img,
  .responsive-card .carousel-inner video {
    max-height: 200px;
    object-fit: cover;
  }

  .responsive-card .card-body {
    max-height: 150px;
    overflow-y: auto;
  }
}

/* api key for music data fetch: 
c6b1ae4326msh32419369928c436p13b71djsn3890b14be4c4 */
@media (max-width: 576px) {
  .song-title {
    font-size: 0.8rem !important;
  }
  .song-artist {
    font-size: 0.7rem !important;
  }
}


.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FF3D00;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #fff;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.loader:after {
  animation-delay: 0.5s
}
@keyframes rotate {
  100% {transform: rotate(360deg) translate(30px)
}
}

/* index.css or App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
   font-family: 'Poppins', sans-serif;
}
/* Light mode is default */

/* Dark mode overrides */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .navbar {
  background-color: #1e1e1e !important;
  color: white;
}

body.dark-mode .card,
body.dark-mode .modal-content {
  background-color: #1e1e1e;
  color: rgb(29, 28, 28);
  border-color: #333;
}

body.dark-mode .btn-outline-secondary {
  color: #f1f1f1;
  border-color: #ccc;
}
